*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: #fff;
    color: #333;
    min-height: 100%;
    margin: 0;
    font-size: 16px;
}
a{
    text-decoration: underline;
    color: #27b9c2;
    font-size: 16px;
    background-color: transparent;
}
img{
    max-width: 100%;
    border: 0;
}
title{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #9fa3a7;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h3{
    font-family: Arvo, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}
text{
    color: #9fa3a7;
    font-weight: 100;
    font-size: 16px;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "item1 item2 item3 item3"
    "item4 item5 item6 item7"
    "item8 item9 item9 item7"
    "item10 item11 item12 item12"
    ;
}
@media(max-width:991px){
    .grid-container{
        display: flex;
        flex-direction: column;
        
    }
}
/* .info{
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
} */
.item1{
    grid-area: item1;
    background-color: #fff;
    margin-left: 60px;
    margin-top: 50px;
    height: auto;
    padding-top: 20px;
}
.item1 .title{
    color: #999;
}
.item2{
    grid-area: item2;
    background-color: #fff;
}
.item2 img{
    margin-top: 80px;
    width: 250px;
    height: auto;
    margin-left: 60px;
}
.item3{
    grid-area: item3;
    text-align: center;
    background-color: #f7f8f9;
    padding-top: 25px;
}
.item3 .center{
    text-align: center;
    color: #999;
}
.item3 h1{
    font-family: Arvo, sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
    font-size: 35px;
}
.item4{
    grid-area: item4;
    color: #fffbfb;
    background-color: #f05638;
    text-align: center;
}
.item4 .img{
    margin-top: 70px;
    width: 320px;
}
.item4 a{
    color: #ffc80a;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}
.item5{
    grid-area: item5;
}
.item5 img{
    width: 450px;
    margin-left: -150px;
    margin-top: 90px;
}
.item5 > div {
    text-align: center;
    margin-top: 50px;
}
.item5 > h3 {
    padding-top: 40px;
    margin: auto;
    display: block;
    max-width: 160px;
    font-weight: 400;
    font-size: 22px;
}
.item6{
    grid-area: item6;
}
.item6 > div {
    margin-top: 60px;
    font-weight: 100;
    line-height: 1.8;
    margin-right: 40px;
    margin-bottom: 40px;
}
.item6 > a,
.arrow {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    color: #27b9c2;
}
.item7{
    background-color: #8f76bc;
    color: #fff;
    grid-area: item7;
    text-align: center;
}
.item7 h2{
    font-size: 35px;
}
.item7 .circle {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    background-color: #8166b0;
    margin: auto;
    display: block;
    margin-top: 40px;
    text-align: center;
}
.item7 .circle img{
    width: 230px;
    margin-top: 30px;
}
.item7 .text-block {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 2px;
    background-size: 15px;
    background-color: #ffffff14;
    width: 120px;
    height: 20px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}
.item7 .white {
    color: white;
    font-size: 18px;
   
}
.item7 .text-block2 {
    text-align: center;
    width: 300px;
    line-height: 3;
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}
.item7 .btn {
    border-radius: 50px;
    background-color: #ffc80a;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.5s;
}

.item7 .btn:hover {
    background-color: black;
    color: #ffc80a;
    transition: 0.5s ease-out;
}

.item8{
    grid-area: item8;
    background-color: #f7f8f9;
    text-align: center;
}
.item8 img{
    margin-right: 25px;
    margin-top: 70px;
    width: 248px;
}
.item9{
    grid-area: item9;
    background-color: #93b6b7;
    text-align: center;
    color: white;
}
.item9 img{
    width: 700px;
    margin-top: 40px;
}
.item9 h3{
    font-size: 32px;
    font-weight: bold;
    margin-left: 120px;
    padding-top: 20px;
}
.item9 .mini-caps {
    width: 25%;
    padding: 3px;
    /* margin: auto; */
    margin-left: 20px;
    border-radius: 5px;
    background-color: #fa684f;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;

}
.item10{
    grid-area: item10;
    text-align: center;
    background-color: #38d5f4;
    color: #fff;
}
.item10 .twitter-container {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: auto;
    background-color: #35cfed;
    text-align: center;
}
.item10 .twitter-container img{
    width: 44px;
    margin-top: 100px;
}
.item11{
    grid-area: item11;
    background-color: #f7f8f9;
    text-align: center;
}
.item11 div{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 50%;
    border-radius: 25px;
    color: white;
    background-color: #7bc424;
}
.item11 h3{
    margin-top: 25px;
    font-size: 25px;
}
.item12{
    grid-area: item12;
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item12 h3{
    margin-left: 100px;
    font-size: 25px;
}
.item12 img{
    width: 270px;
}
